:host {
  // position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  background-color: #d8d8d8;
  .weather_content {
    display: flex;
    align-items: center;
    align-self: center;
    flex-flow: column nowrap;
    justify-content: center;
    margin-top: 150px;
    width: 80%;
    mat-accordion {
      width: 100%;
      .weather_content,
      .bicycle_alert {
        display: flex;
        flex-direction: column;
        width: 100%;
        button {
          margin-top: 10px;
          width: 200px;
        }
      }
      .infos {
        display: flex;
        justify-content: center;
        margin: 50px 10px;
        padding: 10px;
        border: 1px solid black;
      }
      .theftBicycle {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .theftItem {
          background-color: #ffffff;
        }
      }
    }
  }
  .error {
    margin: 50px 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: red;
    color: white;
  }
}
