<div class="weather_content">

  <h1>Weather / Pollution</h1>

  <!--Input city-->
  <mat-form-field class="example-full-width">
    <input matInput
           [(ngModel)]="city"
           placeholder="City">
  </mat-form-field>

  <!--DATE-->
  <mat-form-field>
    <input matInput
           [mdDatepicker]="picker"
           [(ngModel)]="date"
           placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!--Send button-->
  <button mat-raised-button
          (click)="getWeatherByCity()"
          color="primary">
    Weather
  </button>

  <!--Send button-->
  <button mat-raised-button
          (click)="getWeatherPollutionByCity()"
          color="primary">
    Weather/Pollution
  </button>

  <div *ngIf="weatherCity"
       class="infos">
    Il fait {{ weatherCity.main.temp}}º à {{weatherCity.name}} !!
  </div>

  <div *ngIf="error"
       class="error">
    <span>{{error}}</span>
  </div>

</div>
